<!DOCTYPE html>
<html>

<head>
    
    <meta charset="utf-8">
    <title>Simulation</title>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.3.0/mapbox-gl.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.3.0/mapbox-gl.js"></script>
    <style>
        body {
            margin: 0;
            padding: 0;
        }

        #map {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;
        }
    </style>
</head>

<body>
    Add a line to a map using a GeoJSON source
    <div class="container">
        <form id="getpath" action="/getpath" method="POST">
            <label for="start_la">Start Latitude</label>
            <input name="start_la" type="text" value="28.6346695"/>
            <label for="start_lo">Start Longitude</label>
            <input name="start_lo" type="text" value="77.1661268"/>
            <br>
            <label for="end_la">End Latitude</label>
            <input name="end_la" type="text" value="28.6557789"/>
            <label for="end_lo">End Longitude</label>
            <input name="end_lo" type="text" value="77.1740828"/>
            <br>
            <button type="submit" form="getpath" > Submit </button>
        </form>
        <br>
        <div id="map" style="height: 600px; width: 1000px; margin:auto;"></div>
    </div>
    <script>

        mapboxgl.accessToken =
            'pk.eyJ1Ijoic2hhYW50YW51MzE0IiwiYSI6ImNrcDlmOHI0dDBmcHYycHQ3eTY2Mjl6MncifQ.pE8Tb0dlKLdmtz9jg2qe8w';
        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v11',
            center:[77.1661268,28.6346695],
            zoom: 15
        });

        map.on('load', function () {
            map.addSource('route', {
                'type': 'geojson',
                'data': {
                    'type': 'Feature',
                    'properties': {},
                    'geometry': {
                        'type': 'LineString',
                        'coordinates':[[77.1661268,28.6346695],[77.1667771,28.6350313],[77.1675627,28.6354685],[77.1685548,28.6360205],[77.1677469,28.6371633],[77.1697627,28.6383046],[77.1710437,28.6390298],[77.1725253,28.6396148],[77.1732414,28.6398014],[77.174127,28.6400322],[77.174295,28.6400322],[77.1742894,28.6402086],[77.1743149,28.6403988],[77.1743752,28.6405852],[77.1745474,28.6409988],[77.1746698,28.6412928],[77.1747659,28.6415234],[77.1747962,28.6415439],[77.1748235,28.6415675],[77.1748567,28.6416061],[77.1748817,28.6416492],[77.1748979,28.6416954],[77.1749043,28.6417434],[77.1749033,28.6417839],[77.1748954,28.6418239],[77.1748807,28.6418624],[77.1748596,28.6418985],[77.1748327,28.6419315],[77.1748004,28.6419605],[77.1747635,28.641985],[77.1748764,28.6420314],[77.1750417,28.6420914],[77.1752116,28.6421186],[77.1756364,28.6421341],[77.1760952,28.6421995],[77.1764839,28.6422567],[77.17829,28.6426087],[77.1786233,28.6426532],[77.1789572,28.6426978],[77.1807477,28.6429516],[77.1808201,28.6437684],[77.180857,28.6440977],[77.1809168,28.6445853],[77.1809824,28.6449767],[77.1813112,28.646756],[77.1813695,28.6468593],[77.1815629,28.64716],[77.1820973,28.6478884],[77.1826077,28.648584],[77.1817635,28.6490463],[77.1827186,28.6503837],[77.1817218,28.6509013],[77.1827684,28.6524565],[77.181728,28.6530303],[77.1823817,28.6539597],[77.1830507,28.6549108],[77.1830791,28.6549511],[77.1840984,28.6564002],[77.181962,28.6575827],[77.1825156,28.6583582],[77.1825604,28.6584272],[77.1826742,28.6586251],[77.1825441,28.6586447],[77.1813907,28.6586353],[77.180924,28.6586494],[77.1794936,28.6585824],[77.1793214,28.6585865],[77.1781407,28.6586452],[77.1771358,28.6586951],[77.177193,28.6583578],[77.177158,28.6574606],[77.1771365,28.6574347],[77.1770722,28.65743],[77.176289,28.6573994],[77.1760153,28.6574078],[77.1759725,28.6571347],[77.1759041,28.6569369],[77.1758746,28.6568981],[77.175668,28.6567981],[77.1753287,28.6566098],[77.1750739,28.6564497],[77.1749187,28.6563209],[77.1747252,28.6561602],[77.1743605,28.6559143],[77.1742384,28.6557931],[77.1741942,28.6557377],[77.1740828,28.6557789]]
                    }
                }
            });
            map.addLayer({
                'id': 'route',
                'type': 'line',
                'source': 'route',
                'layout': {
                    'line-join': 'round',
                    'line-cap': 'round'
                },
                'paint': {
                    'line-color': '#888',
                    'line-width': 8
                }
            });
        });
    </script>

</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


</html>